<div>
  <app-nav-bar></app-nav-bar>
</div>
<h1 class="text-center display-3">"{{ title }}"</h1>
<h4 class="small text-center">Home of best quotes</h4>
<hr>
<div class="container">
  <p>“When nothing seems to help, “I go back and look at the stonecutter hammering away at his rock perhaps a hundred times without as much as a crack showing in it. Yet at the hundred and first blow it will split in two, and I know it was not that blow that did it — but all that had gone before.”</p>
  <strong><p class="text-center text-uppercase">~Jacob Riis~</p></strong>
</div>
<div class="container">
  <div class="row pt-3">
    <div class="col-md-6">
      <h2 class="text-center">Favorite Quotes</h2>
      <hr>
      <app-quote></app-quote>
    </div>
    <div class="col-md-6">
      <h2 class="text-center">Add a Quote</h2>
      <hr>
      <app-quote-form></app-quote-form>
    </div>
  </div>
</div>