<ol>
    <div *ngFor="let quote of quote; let i = index">
        <p>{{ quote.id }}. &nbsp;<span>{{ quote.quote }} </span></p>
        <button class="btn btn-success btn-sm" (click)="toggleDetails(i)">Show more</button>
        <app-quote-detail *ngIf="quote.showAuthor" [quote]="quote" (isRead)="deleteQuote($event,i)"></app-quote-detail>
    </div>
</ol>

<!-- HIGHLIGHT DIRECTIVE LOGIC - by upvotes -->
<!-- <div *ngIf="quote.upvotes == highest ; then highlight else default">
    <ng-template #highlight>
        <p appHighlight>{{ quote.quote }}</p>
    </ng-template>
    <ng-template #default>
        <p appHighlight>{{ quote.quote }}</p>
    </ng-template>
</div> -->
